{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}尚硅谷书店-首页{% endblock title %}
{% block topfiles %}
{% endblock topfiles %}
{% block body %}
    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <ul>
                <li><a href="{% url 'user:user' %}" class="active">· 个人信息</a></li>
                <li><a href="{% url 'user:order' %}">· 全部订单</a></li>
                <li><a href="{% url 'user:address' %}">· 收货地址</a></li>
            </ul>
        </div>
        <div class="right_content clearfix">
                <div class="info_con clearfix">
                <h3 class="common_title2">基本信息</h3>
                        <ul class="user_info_list">
                            <li><span>用户名：</span>{{ request.session.username }}</li>
                            {% if addr %}
                                <li><span>联系方式：</span>{{ addr.recipient_phone }}</li>
                                <li><span>联系地址：</span>{{ addr.recipient_addr }}</li>
                            {% else %}
                                <li><span>联系方式：</span>无</li>
                                <li><span>联系地址：</span>无</li>
                            {% endif %}
                        </ul>
                </div>
                
                <h3 class="common_title2">最近浏览</h3>
                <div class="has_view_list">
                    <ul class="book_type_list clearfix">
                        {% for books in books_li %}
                            <li>
                                <a href="{% url 'books:detail' books_id=books.id %}"><img src="{% static books.image %}"></a>
                                <h4><a href="{% url 'books:detail' books_id=books.id %}">{{ books.name }}</a></h4>
                                <div class="operate">
                                    <span class="prize">￥{{ books.price }}</span>
                                    <span class="unit">{{ books.unit }}</span>
                                    <a href="#" class="add_books" title="加入购物车"></a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
        </div>
    </div>
{% endblock body %}
