{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
<form method="POST" action="{% url "comment:submit" %}">
    {% csrf_token %}
<div class="box">
    <div class="field">
        <label class="label">{{ book.name }}</label>
        <figure class="image is-128x128">
            <img src="{% static book.image %}">
        </figure>
    </div>
    <div class="field">
        <label class="label">评论标题</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-info" type="title" placeholder="评论标题">
        </div>
    </div>
    <div class="field" style="height: 100px;">
        <label class="label">评论分数</label>
        <div class="control">
            <div class="rating">
                <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
                <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
                <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
                <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
                <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
            </div>
        </div>
    </div>
    <div class="field">
    <label class="label">评论内容</label>
    <div class="control">
        <textarea class="textarea" placeholder="评论内容" name="content"></textarea>
    </div>
    </div>
    
    <div class="field is-grouped">
        <div class="control">
            <input type="submit" class="button is-link" value="提交">
        </div>
    </div>
</div>
</form>
<style>
.rating {
    position: absolute;
    left: 0px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}
</style>
{% endblock %}
{% block bottomfiles %}
<script type="text/javascript">
    $(document).ready(function(){
        // Check Radio-box
        $(".rating input:radio").attr("checked", false);
    
        $('.rating input').click(function () {
            $(".rating span").removeClass('checked');
            $(this).parent().addClass('checked');
        });
    
        $('input:radio').change(
          function(){
            var userRating = this.value;
        }); 
    });
</script>
{% endblock %}